<% include ../partials/header %>
    <link rel="stylesheet" href="stylesheets/login.css"/>
<% include ../partials/navbar %>
    <div class="jumbotron">
      <h1 class="display-3"><center>Login</center></h1>
      <form class="ui form" action="/login" method="POST">
          <div class="field">
            <label>Email Address</label>
              <div class="field">
                <input type="text" name="login[emailAddress]" placeholder="example@example.com">
              </div>
          </div>
          <div class="field">
            <label>Password</label>
              <div class="field">
                <input type="password" name="login[password]" placeholder="password">
              </div>
          </div>
          <div class="loginButtons">
              <input type="submit" class="btn btn-lg btn-primary" value="Login" >
              </input>
              <br>
              <a class="btn btn-lg btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign in with Facebook
              </a>
              <br>
              <a class="btn btn-lg btn-social btn-google">
                <span class="fa fa-google"></span> Sign in with Google
              </a>
              <br>
              <a class="btn btn-lg btn-social btn-github">
                <span class="fa fa-github"></span> Sign in with Github
              </a>
              <br>
          </div>
          
      </form>
<% include ../partials/footer %>