<% include partials/header %>
    <div class="jumbotron">
      <h1 class="display-3"><center>TalkIt Out!</center></h1>
      <p class="lead">Not your ordinary search engine</p>
      <!--<hr class="my-4">-->
      <!--<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>-->
      <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="circular search link icon" style=" margin:10px "></i>
      </div>
    </div>
<% include partials/footer %>