<% include ../partials/header %>

<% include ../partials/navbar %>

<div class = "jumbotron">
    <h1 class="display-3"><center>What are your interests?</center></h1>
    <form action = "/register/<%= user.uid %>" method = "POST" >
      <div class="form-group">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="biz">
              Business and Finance
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="music">
              Music
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="it">
             Information Technology
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="culture">
             Cultural Diversification
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="entertain">
              Entertainment
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="hs">
              Home Science
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="polsc">
              Politics
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="health">
              Health and Fitness
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="fash">
              Fashion Industry
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="recact">
              Recreational Activities
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" value="rom">
              Romance and Relationships
        </label><br>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" val="sci">
              Science and Education
        </label><br>
      </div>
    
    
        
</div>

<!--<% include ../partials/footer %>-->