<% include ../partials/header %>

<% include ../partials/navbar %>

<div class = "jumbotron">
    <h1 class="display-3"><center>What are your interests?</center></h1>
    <form action = "/register/<%= user.uid %>" method = "POST" >
      <div class="form-group">
        <h4>Business and Finance</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Music</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Information Technology</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Cultural Diversification</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Entertainment</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Home Science</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Politics</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Health and Fitness</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Fashion Industry</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Recreational Activities</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Religious Beliefs</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Romance and Relationships</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
        <h4>Science and Education</h4>
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input">
              Sub Categories coming soon
        </label>
      </div>
    
    
        
</div>

<!--<% include ../partials/footer %>-->